
body{
    background: skyblue;
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper{
    width: 1000px;
    height: auto;
    margin: auto;
    background: rgb(226, 225, 223);
}


header-wrapper{
    width: 1000px;
    height: 100px;
    margin: auto;
    background: blue;
}

#logo{
    padding-top: 10px;
    border: none;
}

.content-wrapper{
    width: 1000px;
    height: auto;
    background: aquamarine;
}

.content-area{
    width:auto;
    height:auto;    
    float: left;
}

#sidebar{
    width: 200px;
    background: rgb(226, 225, 223);
    float: right;
}

#footer{
    width: 1000px;
    height: 100px;
    background: blue;
    clear: both;
    text-align: center;
    padding-top: 30px;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    
}

.menubar{
    width: 1000px;
    height: 50px;
    color: white;
    background: blue;
}

#menu{
    padding: 0;
    margin: 0;
    line-height: 35px;
    float: left;
}

#menu li{
    list-style: none;
    display: inline;
}

#menu a{
    text-decoration: none;
    color: white;
    padding: 5px 5px 20px 8px;
    margin: 5px;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#menu a:hover{
    text-decoration: none;
    background-color:royalblue;
    font-weight: bolder;
    text-decoration: none;
}

#form{
    float: right;
    padding-right: 8px;
    line-height: 35px;
}

#sidebar-title{
    font-size: 22px;
    padding: 10px;

}

#cats{
    padding: 0;
    border-left: 1px solid grey;
}

#cats li{
    list-style: none;
    margin-top: 4px;
    border: solid 1px rgb(151, 151, 151);
    background: rgb(202, 199, 199);
    border-radius: 5px;

}

#cats a{
    display: block;
    padding: 8px;
    margin: 0px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color: black;
    
}

#cats :hover{
    color: white;
    background-color: royalblue;
}
#sidebar-title{
    font-weight: bolder;
    color: white;
    background: rgb(21, 21, 54);
}

#products_box{
    width: 780px;
    align-items: center;
    align-content: center;
    margin-left: 10px;
    margin-bottom: 10px;
    text-align: center;
    margin:10px;
}

#single_product{
    float: left;
    margin-left: 20px;
    padding: 10px;
}

#single_product img{
    border:1px solid black;
}

#shopping_cart{
    width:800px;
    height: 46px;
    background: rgb(213, 213, 219);
}

.cart_table{
    border: dashed 1px black;
    z-index: 100;
}

.t_row{
    padding: 0;
    margin: 0;
    border: none ;

}