
body{
    background: skyblue;
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper{
    width: 1000px;
    height: auto;
    margin: auto;
    background: rgb(226, 225, 223);
}


.header-wrapper{
    width: 1000px;
    height: 95px;
    margin: auto;
    background: rgb(20, 17, 31);
    border-bottom: solid 1px snow;
}

#logo{
    padding-top: 10px;
    border: none;
}

.content-wrapper{
    width: 1000px;
    height: auto;
    background: snow;
}

.content-area{
    width:auto;
    height:auto;    
    float: right;
}

#sidebar{
    width: 200px;
    background: rgb(226, 225, 223);
    float: left;
}

#footer{
    width: 1000px;
    height: 50px;
    background: rgb(12, 12, 37);;
    clear: both;
    text-align: center;
    padding-top: 5px;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    
}

.menubar{
    width: 1000px;
    height: 50px;
    color: white;
    background: rgb(12, 12, 37);
}

#menu{
    padding: 0;
    margin: 0;
    line-height: 35px;
    float: left;
}

#menu li{
    list-style: none;
    display: inline;
}

#menu a{
    text-decoration: none;
    color: white;
    padding: 5px 5px 20px 8px;
    margin: 5px;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#menu a:hover{
    text-decoration: none;
    background-color:snow;
    font-weight: bolder;
    text-decoration: none;
    color: rgb(12, 12, 37);
}

#form{
    float: right;
    padding-right: 8px;
    line-height: 35px;
}

#sidebar-title{
    font-size: 22px;
    padding: 10px;

}

#cats{
    padding: 0;
}

#cats li{
    list-style: none;
    margin: 0px;

}

#cats a{
    display: block;
    padding: 8px;
    margin: 0px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}

#cats :hover{
    color: white;
    background-color: royalblue;
}
#sidebar-title{
    font-weight: bolder;
    color: white;
    background: rgb(12, 12, 37);
    border-top: solid snow 1px;
}

#products_box{
    width: 780px;
    align-items: center;
    align-content: center;
    margin-left: 10px;
    margin-bottom: 10px;
}

#single_product{
    float: left;
    margin-left: 20px;
    padding: 10px;
}

#single_product img{
    border:1px solid black;
}

#shopping_cart{
    width:800px;
    height: 46px;
    background: rgb(213, 213, 219);
}

.cart_table{
    border: dashed 1px black;
    z-index: 100;
}

.t_row{
    padding: 0;
    margin: 0;
    border: none ;

}

.table tbody tr:nth-child(odd){
    background: rgb(192, 185, 185);
}
input[type=submit] {
    background-color: #0693cd;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size:16px;
    font-weight: bold;
    line-height: 1.4;
    padding: 10px;
    width: auto
  }

  button {
    color: snow;
    background-color: #0693cd;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size:16px;
    font-weight: bold;
    line-height: 1.4;
    padding: 10px;
    width: auto
  }

  input[type=text] {
    -webkit-appearance: none;
    margin-top: 30px;
    box-sizing: border-box;
    padding-left: 10px;
    border-radius: 40px;
    font-size: 14px;
    border: 3px solid #00B8FF;
    color: #00B8FF;
    background: none;
    height: 40px;
    width: 200px;
    margin: 0;
    transition: 0.3s;
    box-shadow: inset 0 0 0 none;
  }

  input[type=password] {
    -webkit-appearance: none;
    margin-top: 30px;
    box-sizing: border-box;
    padding-left: 10px;
    border-radius: 40px;
    font-size: 14px;
    border: 3px solid #00B8FF;
    color: #00B8FF;
    background: none;
    height: 40px;
    width: 200px;
    margin: 0;
    transition: 0.3s;
    box-shadow: inset 0 0 0 none;
  }